    body {
        font-family: 'Montserrat', sans-serif;
        background-color: #000000;
        color: white;
        width: 1920;
        margin: 0 100px 0 100px;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        margin: 40px;
    }
    
    .hero {
        position: relative;
        background-image: url("backgroundHero.png");
    
    }
    
    .shade {
        background-image: url("/assets/heroBackground.svg");
        opacity: 0.9;
    }
    
    h1 {
        text-align: center;
        flex-wrap: wrap;
    }
    
    .watch-now {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .after-hero {
        justify-content: center;
        text-align: center;
    }
    
    .btn {
        align-items: center;
        justify-content: center;
    }
    
    button {
        color: white;
        background-color: orangered;
        border: none;
        height: 30px;
        padding: 5px;
        text-align: center;
    }
    
    .btn-l {
        background-color: transparent;
        border: solid 1px #ff4500;
        height: 30px;
        width: 60px;
    }
    
    .btn-l {
        width: 60px;
    }
    
    .logo {
        height: 40px;
        width: 140px;
    }
    
    input {
        background-color: transparent;
        border: solid 1px #110f11;
        height: 27px;
        width: 250px;
    }
    
    .single-plan {
        width: 250px;
        height: 350px;
        background-color: #110f11;
        border: none;
    }
    
    .access-plans {
        display: flex;
    }
    
    .section {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    
    .sc1 {
        padding: 25px;
        height: auto;
    }
    
    footer {
        display: flex;
        justify-content: space-between;
    }
    
    .foot-menu {
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
    }
    
    .social-icons {
        display: grid;
        margin-right: 30px;
    }
    
    .download-app {
        display: grid;
        justify-content: space-between;
        margin-right: 30px;
    }
    
    #apps {
        display: flex;
        justify-content: space-between;
        width: 125px;
        height: 35px;
    }